[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-crispy-forms = "*"
psycopg2-binary = "*"
python-decouple = "*"
stripe = "*"
django-allauth = "*"
python-social-auth = "*"
social-auth-app-django = "*"

[dev-packages]

[requires]
python_version = "3.9"
