{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="p-4"><br>

	<center><h1>Productos encontrados</h1></center>

	<form class="form-control"  method="get" action="{% url 'busqMemo' %}">
	 	<input name="q" class="form-control mr-sm-2" type="text"
				placeholder="Buscar un producto" aria-label="Search">
	</form><hr>

	<form class="form-control">
		<div class="row">
			
				{% for memorias in memo_list %}
				<div class=col-md-4>
                    <br>
                    <div class="card">
                    	<div class="card-body">

					        <strong><p>{{ memorias.producto }}</p></strong><hr>

					        <center><img src="{{ memorias.imagen.url }}" height="220" width="220"></center>

					        <strong>Marca: </strong><p>{{ memorias.marca }}</p>

					        <strong>Modelo: </strong><p>{{ memorias.modelo }}</p>

					        <strong>Precio: </strong><p>{{ memorias.precio }}</p>

					        <strong>Fecha: </strong><p>{{ memorias.fecha }}</p>
					        
		                    <br>   

		                    {% if perms.tec.change_memorias %}
					        <p><a  class= "btn btn-primary btn-sm" href="{% url 'modificarMemorias' memorias.id  %}">Modificar</a></p>
					        {% endif %}

					        {% if perms.tec.delete_memorias %}
					        <p><a  class= "btn btn-danger btn-sm" href="{% url 'eliminarMemorias' memorias.id  %}">Eliminar</a></p>
					        {% endif %}

                    	</div>
                    </div>
				</div>
	    		{% endfor %}

		</div><br>

		
			<p><a  class= "btn btn-primary btn-sm" href="{% url 'memorias' %}">Atras</a></p>
		
		
	</form><br><br><br>

</div>

{% endblock content %}